:root {
  --primary: #02a2ff;
  --primary-text: #9da0af;
  --background-color: #222433;
  --surface-color: #292b3d;
  --scroll-thumb-color: #666770;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
}

.main_panel {
  background: #1d1d2a;
  padding: 42px 24px;
  overflow-y: auto;
}

.main_panel::-webkit-scrollbar {
  width: 8px;
}

.main_panel::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
  border-radius: 8px;
}

.main_panel::-webkit-scrollbar-track {
  border-radius: 8px;
  transition-property: all;
  transition-delay: 2s;
}

.disc_movie {
  position: relative;
  border-radius: 16px;
}
.disc_movie--bg {
  flex: 1.5;
  margin-right: 16px;
}
.disc_movie--sm {
  flex: 1;
}

.movie_detail {
  margin: 0 16px 16px;
  flex: 1;
}

.movie_detail__title {
  text-transform: uppercase;
}

.movie_detail__subtitle {
  display: flex;
  align-items: baseline;
}

.movie_detail__genre {
  color: var(--primary-text);
  font-size: 12px;
}

.movies_list_title {
  font-size: 20px;
  margin-top: 32px;
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar__title {
  text-transform: capitalize;
  margin-left: 16px;
  color: white;
}

.notification_dot {
  width: 8px;
  height: 8px;
  background: var(--primary);
  border-radius: 50%;
}

.surface-box {
  background: var(--surface-color);
  color: var(--primary-text);
  border-radius: 8px;
  padding: 16px;
  font-size: 14px;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.surface-box--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poster {
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.poster_overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(to top, rgb(0 0 0 / 80%), transparent);
  display: flex;
  align-items: flex-end;
}

@media only screen and (max-width: 1132px) {
  .aside {
    visibility: hidden;
  }
  .wrapper {
    grid-template-columns: 1fr 4fr;
  }
}
