body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 12fr 5fr;
}

/* nav (left panel) START */
.nav {
  background: #222433;
  padding: 48px 24px;
}

.nav__header {
  padding: 0 0 16px 8px;
  margin: 0;
  font-size: 20px;
  letter-spacing: 0.15px;
}

.nav__header > span {
  color: rgb(56, 56, 243);
}

.nav__link-header {
  color: #9da0af;
  margin: 32px 0 16px 8px;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  margin-bottom: 8px;
}

.nav__link:hover {
  background-color: rgb(73, 73, 73);
  cursor: pointer;
}

.nav__link > span {
  color: #9da0af;

  margin-left: 16px;
  font-size: 14px;
  letter-spacing: 0.25px;
}

.nav__link svg {
  color: #9da0af;
  width: 20px;
  height: 20px;
}
/* nav (left panel) END */

/* aside (right panel) START  */
.aside {
  padding: 48px 24px 0 24px;
  background: #222433;
}

.aside svg {
  width: 20px;
  height: 20px;
}

.aside__header {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.aside__studio {
  display: flex;
  justify-content: space-between;
}

.aside__studio > .surface-box {
  width: fit-content;
  display: inline-block;
  padding: 12px;
}

/* aside (right panel) End  */

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar__title {
  text-transform: capitalize;
  margin-left: 16px;
}

.surface-box {
  background: #292b3d;
  border-radius: 8px;
  padding: 16px;
  font-size: 12px;
  letter-spacing: 0.4px;
}

.surface-box--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TODO: re-use style for svg */
/* TODO: give font-size in rem */
/* TODO:  create standard typography clases for re-use*/
/* TODO: revise css classes & refactor if necessary */
